<div class="home__container">
    <app-card
        gameCover="assets/sm2.png"
        gameLabel="Edição Padrão"
        gameType="Digital PS5"
        gamePrice="R$ 349,90">
    </app-card>
    <app-card
        gameCover="assets/hwl.png"
        gameLabel="Edição Deluxe"
        gameType="Digital PS4 PS5"
        gamePrice="R$ 349,90">
    </app-card>    
    <app-card
        gameCover="assets/fnt.png"
        gameLabel="Exclusive"
        gameType="Digital PS4 PS5"
        gamePrice="Gratuito">
    </app-card>   
    <app-card
        gameCover="assets/cod.png"
        gameLabel="MWIII Multigeração"
        gameType="Digital  PS4  PS5"
        gamePrice="R$ 299,00">
    </app-card>  
    <app-card
        gameCover="assets/nxb.png"
        gameLabel="Ultimate Edition"
        gameType="Digital  PS4  PS5"
        gamePrice="R$ 474,50">
    </app-card>  
</div>