/* You can add global styles to this file, and also import other style files */
*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background: rgb(41,5,66);
    background: linear-gradient(90deg, rgba(41,5,66,1) 0%, rgba(74,9,121,1) 11%, rgba(184,0,255,1) 100%);

}